/* Body text, cards, buttons, general content */
body {
  font-family: 'Poppins', sans-serif;
}

/* Logo and headings */
h1, h2 {
  font-family: 'Baloo 2', cursive;
}

.logo {
  font-family: 'Baloo 2', cursive;
  font-size: 2.2rem;   /* adjust if needed */
  font-weight: 700;     /* bold but friendly */
  color: #FFC107;       /* yellow/gold accent */
  margin: 0;            /* remove default spacing */
}

.catgrys {
    transition: all 0.3s;
}
.catgrys .catgrys-text{
  color: #2C786C;
}
.catgrys:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.catgrys:hover .catgrys-text{
  color: #FFD966
}

.filterBtn {
  background: #ffffff;
  color: #2C786C;
  border: 2px solid #2C786C;
  font-weight: 500;
  font-size: medium;
  height: 44px;
  padding: 8px 20px;
  transition: all 0.2s;
}

.filterBtn:hover {
  background: #2C786C;
  color: #ffffff;
  border: 2px solid #2C786C;
  font-weight: 500;
  height: 44px;
  padding: 8px 20px;
  font-size: medium;
} 

.navbar .form-control::placeholder {
  color: #212529; /* dark text */
  opacity: 1;
}

/* Style all checkboxes */
input[type="checkbox"] {
  /* Make the checkmark your brand green */
  accent-color: #2C786C;

  /* Add a thicker outline */
  border: 2px solid #2C786C;
  border-radius: 4px; /* optional: slight rounding */

  transform: scale(1.3);
  cursor: pointer;
}

input[type="radio"] {
  /* Make the checkmark your brand green */
  accent-color: #2C786C;

  /* Add a thicker outline */
  border: 2px solid #2C786C;
  border-radius: 4px; /* optional: slight rounding */

  transform: scale(1.3);
  cursor: pointer;
}

.listCard .listCardImg{
  aspect-ratio: 1/1;
}

/* Chrome, Edge, Safari */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #2C786C; /* Brand green */
  border: 2px solid #fff; /* White outline for contrast */
  cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #2C786C; /* Brand green */
  border: 2px solid #fff;
  cursor: pointer;
}

.removeWishlist {
  color: #E0E0E0;
  cursor: pointer;
}

.removeWishlist:hover {
  color: #FF6B6B;
}

.cartImg {
  width: 35%;
  aspect-ratio: 1/1;
}

.searchImg {
  width: 35%;
  aspect-ratio: 1/1;
}

.searchCardTitle {
  font-size: 0.9rem; /* small screens */
}

.searchCardDes {
  font-size: 0.9rem;
}

button.searchCardWBtn {
  font-size: 0.9rem;
}

button.searchCardCBtn {
  font-size: 0.9rem;
}


/* XS screens - mobile first */
@media (min-width: 344px) {
  /* .prodDetailsWrapper {
    margin-left: 1rem;   
    margin-right: 1rem;
  } */

  .detailIcons {
    width: 2rem;
    height: 2rem;
  }
  .detailProdRating {
    font-size: 1.1rem;
  }
  .ratingStars svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

@media (min-width: 390px){
  .prodDetailsWrapper {
    margin-left: 1.3rem;   
    margin-right: 1.3rem;
  }
}

/* Small+ screens */
@media (min-width: 536px) {
  .prodDetailsWrapper {
    margin-left: 4rem;   
    margin-right: 4rem;
  }
  .detailIcons {
    width: 2rem;
    height: 2rem;
  }
  .detailIconsText {
    font-size: 0.95rem;
  }
  .detailDescription {
    font-size: 1.1rem;
  }
  .detailProdRating {
    font-size: 1.1rem;
  }
  .ratingStars svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

/* Medium+ screens */
@media (min-width: 756px) {
  .prodDetailsWrapper {
    margin-left: 0rem;   
    margin-right: 0rem;
  }
  .detailIcons {
    width: 2rem;
    height: 2rem;
  }
  .detailIconsText {
    font-size: 1rem;
  }
  .detailDescription {
    font-size: 1.1rem;
  }
  .detailProdRating {
    font-size: 1.25rem;
  }
  .ratingStars svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}


@media (min-width: 344px){
  button.searchCardWBtn {
    font-size: 0.75rem;
  }
  button.searchCardCBtn {
    font-size: 0.75rem;
  }
}

@media (min-width: 576px){
  button.searchCardWBtn {
    font-size: 1.1rem;
  }
  button.searchCardCBtn {
    font-size: 1.1rem;
  }
}

@media (min-width: 344px){
  button.removeCartBtn {
    font-size: 0.75rem;
  }
  button.removeCartBtn {
    font-size: 0.75rem;
  }
}

@media (min-width: 576px){
  button.removeCartBtn {
    font-size: 1.1rem;
  }
  button.removeCartBtn {
    font-size: 1.1rem;
  }
}


/* Bootstrap md breakpoint (≥768px) */
@media (min-width: 768px) {
  .searchCardTitle {
    font-size: 1.25rem;
  }
  .searchCardDes {
    font-size: 1.25rem;
  }
  .searchCardPrice {
    font-size: 1.5rem;
  }
  button.searchCardCBtn {
    font-size: 1.1rem;
  }
  button.searchCardWBtn {
    font-size: 1.1rem;
  }
}

/* XL+ screens */
@media (min-width: 1200px) {
  .detailIcons {
    width: 3rem;
    height: 3rem;
  }
  .detailIconsText {
    font-size: 1.25rem;
  }
  .detailDescription {
    font-size: 1.25rem;
  }
}

@media (min-width: 360px){
  .addAllDetails{
    width: 90%;
  }
}

@media (min-width: 576px){
  .addAllDetails{
    width: 80%;
  }
}

@media (min-width: 768px){
  .addAllDetails{
    width: 75%;
  }
}

@media (min-width: 993px){
  .addAllDetails{
    width: 60%;
  }
}

@media (min-width: 1200px){
  .addAllDetails{
    width: 50%;
  }
}




@media (min-width: 344px){
  .addCardDetails{
    width: 60%;
  }
}

@media (min-width: 576px){
  .addCardDetails{
  width: 70%;
  }
}

@media (min-width: 768px){
  .addCardDetails{
    width: 60%;
  }
}

@media (min-width: 993px){
  .addCardDetails{
    width: 50%;
  }
}



@media (min-width: 344px){
  .addCardDetails{
    font-size: 0.95rem;
  }
}

@media (min-width: 576px){
  .addCardDetails{
  font-size: 1rem;
  }
}

@media (min-width: 768px){
  .addCardDetails{
    font-size: 1.1rem;
  }
}

@media (min-width: 993px){
  .addCardDetails{
    font-size: 1.25rem;
  }
}



@media (min-width: 344px){
  .checkoutCard{
    width: 95%;
  }
}

@media (min-width: 576px){
  .checkoutCard{
  width: 80%;
  }
}

@media (min-width: 768px){
  .checkoutCard{
    width: 60%;
  }
}

@media (min-width: 993px){
  .checkoutCard{
    width: 50%;
  }
}


@media (min-width: 344px){
  .chooseAddCardText{
    font-size: 1rem;
  }
}

@media (min-width: 576px){
  .chooseAddCardText{
  font-size: 1.15rem;
  }
}

@media (min-width: 768px){
  .chooseAddCardText{
    font-size: 1.25rem;
  }
}

@media (min-width: 993px){
  .chooseAddCardText{
    font-size: 1.25rem;
  }
}



@media (min-width: 344px){
  button.checkoutBtn{
    font-size: 1rem;
  }
}

@media (min-width: 576px){
  button.checkoutBtn{
  font-size: 1.15rem;
  }
}

@media (min-width: 768px){
  button.checkoutBtn{
    font-size: 1.25rem;
  }
}

@media (min-width: 993px){
  button.checkoutBtn{
    font-size: 1.25rem;
  }
}


@media (min-width: 344px){
  .orderSummaryCard{
    width: 95%;
  }
}

@media (min-width: 576px){
  .orderSummaryCard{
  width: 85%;
  }
}

@media (min-width: 768px){
  .orderSummaryCard{
    width: 70%;
  }
}

@media (min-width: 993px){
  .orderSummaryCard{
    width: 60%;
  }
}

@media (min-width: 1200px){
  .orderSummaryCard{
    width: 50%;
  }
}


@media (min-width: 344px){
  .orderSummaryCardText{
    font-size: 1.1rem;
  }
}

@media (min-width: 576px){
  .orderSummaryCardText{
  font-size: 1.1rem;
  }
}

@media (min-width: 768px){
  .orderSummaryCardText{
    font-size: 1.25rem;
  }
}


@media (max-width: 360px){
  .successHeading {
    font-size: 1rem;
  }
}
